body {
  margin: 0;
  font-family: "NunitoSans-Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("./assets/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.container {
  padding: 20px;
}
.title {
  font-weight: 600;
}
.searchbar {
  width: 500px;
  box-shadow: 0px 1px 8px -4px hsl(200, 15%, 8%);
}

.filter {
  width: 200px;
  box-shadow: 0px 1px 8px -4px hsl(200, 15%, 8%);
  padding: 12px 20px;
}

.button {
  width: 120px;
  box-shadow: 0px 1px 8px -4px hsl(200, 15%, 8%);
}

input {
  margin-left: 50px;
  outline: none;
  border: none;
  width: 90%;
}

.card {
  width: 200px;
  height: 300px;
  box-shadow: 0px 1px 8px -4px hsl(200, 15%, 8%);
  margin-right: 20px;
  margin-bottom: 60px;
}
.flag {
  height: 50%;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.detail-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 500px;
}
.box {
  width: 500px;
}

.borders {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.borders span {
  min-width: 110px;
}
.content {
  height: 86.2vh;
}

@media only screen and (max-width: 600px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
  }
  .searchbar {
    width: 100%;
  }
  .card {
    width: 100%;
    height: 400px;
    margin: 20px 10px;
  }
  .flag {
    height: 60%;
  }
  .title {
    font-size: 15px;
  }
  .mode {
    font-size: 12px;
  }
  .image {
    width: 100%;
    height: 25vh;
  }
  .detail {
    flex-direction: column;
    margin-top: 50px;
  }
  .detail-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .box {
    width: 100%;
  }
  .borders {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
  .borders span {
    width: 100%;
  }
  .content {
    height: auto;
  }
}
